*.iml
.gradle
/local.properties
/.idea/
/app/build/
/app/src/androidTest/
/app/src/test/
/hydrogen-android/build/
/hydrogen-android/androidTest/
/hydrogen-android/test/

/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
