*.iml
.gradle
/local.properties
/.idea/
/app/build/
/app/src/androidTest/
/app/src/test/
/android-common-library-java/build/
/android-common-library-java/src/androidTest/
/android-common-library-java/src/test/
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
